<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a target="_blank" class="ft-link" href="#">(Insert Info Here)</a></span>
        </div>
    </div>
</footer>