<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand align-items-center justify-content-center web-hidden" href="#">
    <div class="sidebar-brand-icon">
      <img src="/images/undraw_profile.svg" class="img-fluid" alt="Logo" style="height: 40px;"/>
    </div>
    <div class="sidebar-brand-text mx-3">Inventory System</div>
  </a>

  <div class="webview-margin"></div>
  <!-- Divider -->
  <hr class="sidebar-divider" style="margin-bottom: 0 !important" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Control Panel</div>

  <!-- Nav Item - PCreated bys Collapse Menu -->

  <!-- Nav Item - Admin Control Panel Collapse Menu -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fa fa-user-cog" aria-hidden="true"></i>
      <span>Authentication</span>
    </a>
    <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner rounded">
        <a class="collapse-item" href="/users">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>User</span>
        </a>
        <a class="collapse-item" href="#">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Routes</span>
        </a>
      </div>
    </div>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->
</ul>